<ion-view>
<ion-content>
<div class="row header">
	<div class="col"></div>
	<div class="col">
		<h2>{{testData.name}} Available Orders  </h2>

	</div>
	<div class="col"></div>
</div>

<form ng-model="formData">
<ul class="list" ng-repeat ="item in testFood">
<div class="row">
<div class="col-offset-10 col col-50">
  <li class="item item-checkbox">
     <label class="checkbox">
  <input type="checkbox" ng-model="item.isSelected" ng-change="value(item.isSelected,item)">
     </label>
     {{item.package_name}} 
  </li>
</div>
<div class="col col-20">
<li class="item item-checkbox">
  {{item.price}}</li>
</div>
<!--
<div class="col col-20">
  <label class="item item-input">
    <input type="number" value="0"  min="0" step="1">
  </label>
</div>-->
</div>
</ul>
<input type="datetime-local" id="exampleInput" name="input" ng-model="getDate.value"
      placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2017-12-31T00:00:00" required />
</form>
<div class="row">
	<div class="col col-50">
		<p class="total-text">
			Total : {{ selectedItems | getprice}}
		</p>
	</div>
</div>
</ion-content>


</ion-view>