<ion-view>
<ion-content class="has-header">

<h1 style="text-align:center; font-size:20px">{{testData.name}} Available Orders {{plant}} </h1>
<form ng-model="formData">
<ul class="list" ng-repeat ="item in testFood">
<div class="row">
<div class="col">
  <li class="item item-checkbox">
     <label class="checkbox">
  <input type="checkbox" ng-model="item.itemid" ng-true-value="12567" ng-false-value="0">
     </label>
     {{item.package_name}} 
  </li>
</div>
<div class="col">
<li class="item item-checkbox">
  {{item.price}}</li>
</div>
<div class="col col-20">
  <label class="item item-input">
    <input type="number" value="0"  min="0" step="1">
  </label>
</div>
</div>
</ul>
<input type="datetime-local" id="exampleInput" name="input" ng-model="example.value"
      placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required />
</form>
{{formData}}
</ion-content>


</ion-view>