 <ion-nav-bar class="bar-positive">
 <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-title>Fast Food App</ion-nav-title>
  </ion-nav-bar>


<ion-tabs class="tabs-energized tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-home" icon-off="ion-ios-home-outline" ui-sref="home.index">
    <ion-nav-view name="index"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search" icon-on="ion-ios-search-strong" icon-off="ion-ios-search" ui-sref="home.history">
    <ion-nav-view name="order-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Details" icon-on="ion-person" icon-off="ion-ios-person-outline" ui-sref="home.profile">
    <ion-nav-view name="details"></ion-nav-view>
  </ion-tab>

</ion-tabs>