<ion-view>

<div class="content has-header header">
<h2 style="text-align:center"> Enter your Details and confirm your order</h2>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name">
        </label>
         <label class="item item-input">
          <input type="text" placeholder="Email Address">
        </label>
		<label class="item item-input">
          <input type="text" placeholder="Phone Number">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Delivery Address">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive activated">Submit</button>
      </div>
</div>
{{items}}
</ion-view>