<ion-view>

<div class="content has-header header">
<h2 style="text-align:center"> Enter your Details and confirm your order</h2>
<div class="row" ng-repeat="item in items">
<div class="col col-offset-10 col-30">
	<p>{{item.package_name}}</p>
</div>
<div class="col col-offset-10 col-30">
	<p> N {{item.price}}</p>
</div>

</div>
<div class="row">
<div class="col col-offset-10 col-30">
	<p>Total Price:</p>
</div>
<div class="col col-offset-10 col-30">
	<p> N {{items | getprice}}</p>
</div>

</div>
<form ng-model="formData" ng-submit="submitinfo()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="formData.firstName">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="formData.lastName">
        </label>
         <label class="item item-input">
          <input type="text" placeholder="Email Address" ng-model="formData.email">
        </label>
		<label class="item item-input">
          <input type="text" placeholder="Phone Number" ng-model="formData.confirmEmail">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Delivery Address" ng-model="formData.Address">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive activated">Cofirm order and proceed to payment</button>
      </div>
  </form>
</div>

</ion-view>