<ion-view>
<div class="content has-header">
	<h1 style="text-align:center; font-size:20px"> Payment Information</h1>
<form stripe-form="stripeCallback">

      <div class="list list-inset">
        <label class="item item-input">
             <input ng-model="number" placeholder="Card Number" />
        </label>
        <label class="item item-input">
           <input ng-model="expiry" placeholder="Expiration" />
        </label>
         <label class="item item-input">
           <input ng-model="cvc" placeholder="CVC" />
        </label>
      </div>
    <div class="padding">
     <button type="submit" class="button button-block button-positive activated">Pay With Stripe</button>
      </div>
</form>
</div>
</ion-view>