/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 400px; }
.marker-labels{
	font-size:12px;
	font-weight:400;
	font-family:'Open Sans',sans-serif;
	text-align:center;

}
.input-date{
	width:50%;
}
.header h2{
	font-size:20px;
	text-align:center;
}
.total-text{
	font-size: 20px;
  margin-left: 100px;
}
ul li{
	font-size:15px;
	text-align:left;
}